@model Person

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/style.css"/>
    <title>Index Form Page</title>
</head>

<body>
    <div class="container">
        <form asp-action="FormSubmit" asp-controller="Home" method="POST" class="form">
            <h3>Put some info in here!</h3>

            <label asp-for="Name"></label>
            <input asp-for="Name">
            <br>
            <span asp-validation-for="Name" class="text-danger"></span>
            <br>

            <label asp-for="Location"></label>
            <select asp-for="Location">
                <option value="seattle">Seattle</option>
                <option value="orlando">Orlando</option>
                <option value="las vegas">Las Vegas</option>
                <option value="alaska">Alaska</option>
            </select>
            <br>
            <span asp-validation-for="Location" class="text-danger"></span>
            <br>

            <label asp-for="Language"></label>
            <select asp-for="Language">
                <option value="c#"> C# </option>
                <option value="python">Python</option>
                <option value="javascript">JavaScript</option>
            </select>
            <br>
            <span asp-validation-for="Language" class="text-danger"></span>
            <br>

            <label asp-for="Comment"></label>
            <input asp-for="Comment">
            <br>
            <span asp-validation-for="Comment" class="text-danger"></span>
            <br>

            <button type="submit" class="btn btn-dark btn-md">Submit</button>

        </form>

    </div>

</body>

</html>